@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&family=Madimi+One&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"); */

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KCC-Ahnchangho";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/KCC-Ahnchangho.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "GmarketSansMedium", sans-serif;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  background-color: #fb3640;
  color: white;
  border: 0;
  padding-top: 3px;
  border-radius: 10px !important;
}

button:hover {
  background-color: #d1010b;
  color: rgb(255, 255, 255);
  border: 0;
  padding-top: 3px;
  border-radius: 10px;
}
