@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&family=Madimi+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  /* font-family: "Gowun Batang", serif; */
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color);
}

header {
  background-color: white;
  position: sticky;
  padding-top: 32px;
  top: 0px;
  box-shadow: 0px 1px grey;
  z-index: 10000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0 10rem 1rem;
  box-sizing: border-box;
}

.login-link {
  color: #fb3640;
}

.nav-link {
  color: black;
  /* font-family: "Gowun Batang", serif; */
  font-weight: 400;
  font-style: normal;
}

.navbar-nav {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
  width: 80%; /* 부모 요소인 navbar의 전체 너비를 차지하도록 설정 */
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo > a {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-left: 20px;
  color: #fb3640;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}

.navbar__icons {
  list-style: none;
  display: flex;
  color: var(--icons-color);
  margin: 0;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
  margin: 0;
}

.searchbox {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf0f8;
  border-radius: 15px;
}

#search {
  background-color: #fcf0f8;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 60px;
  border-radius: 15px;
}

input::placeholder {
  padding-left: 15px;
  /* font-family: "Gowun Batang", serif; */
  font-weight: bolder;
  font-style: normal;
}

.login {
  display: flex;
}

#navbarSupportedContent {
  display: flex;
}

.beforeLogin {
  display: flex;
  font-size: 20px;
  /* font-family: "Gowun Batang", serif; */
}

.nextLogin {
  display: flex;
  font-size: 20px;
  /* font-family: "Gowun Batang", serif; */
}

.logout {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.login-item a {
  padding: 5px;
  font-weight: bold;
}

.icon {
  width: 30px;
  height: 30px;
  padding-right: 3px;
}
